.main {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    color: darkslategray;
    text-align: center;
}
h1, h2, p {
    padding: 5 5 5 5;
    
}
a {
    display: block;
    text-align: center;
    font-weight: bold;
    color: dimgray;
    padding-top: 20px;
    margin-top: 10px;
    font-size: 25px;
}
a:link {
    color: darkslategray;
    text-decoration: none;
}
a:visited {
    color: darkslategray;
    text-decoration: none;
}
a:hover {
    color: rgb(126, 14, 173);
}
.m1 {
    background-image: url("https://i8.amplience.net/i/office/2421896271_sd1.jpg?$newhighres$&w=560&h=490&fmt.jpeg.interlaced=true");
}
.m2 {
    background-image: url("https://i8.amplience.net/i/office/2496514945_sd1.jpg?$newhighres$&w=560&h=490&fmt.jpeg.interlaced=true");
}
.m3 {
    background-image: url("https://i8.amplience.net/i/office/2421840724_sd1.jpg?$newhighres$&w=560&h=490&fmt.jpeg.interlaced=true");
}
.m4 {
    background-image: url("https://d2ob0iztsaxy5v.cloudfront.net/product/197365/1973657270m4_zm.jpg");
}
.m5 {
    background-image: url("https://cdn.shopify.com/s/files/1/2777/5584/products/product-image-651015121_720x.jpg?v=1526382262");
}
.m6 {
    background-image: url("https://img.ltwebstatic.com/images2_pi/2018/11/21/15427893073144718215_thumbnail_900x1199.webp");
}
.m7 {
    background-image: url("//cdn.shopify.com/s/files/1/0095/8716/3196/products/Whalemockup_1024x1024@2x.png?v=1582840060");
}
.mid {
    width: 300px;
    height: 250px;
    background-size: cover;
    display: inline-block;
    margin: 10px;
    padding: 2px;
}
.mid:hover {
    width: 310px;
    margin: 0;
}
    
.info {
    top: 50%;
    left: 50%;
    margin: 0;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    font-size: 8px;
    display: none;

}
#popupbox {
    color: white;
    background-color:darkslategray;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: fixed;
    margin-top: auto;
    margin-bottom: auto;
    bottom: 55%;
    right: 10px;   
}